@import url("https://fonts.googleapis.com/css?family=Kosugi");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

a {
  text-decoration: none;
  color: #a8c2f7;
}

p {
  margin: 0;
  padding: 0;
}

#main {
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_card {
  margin: 50px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #343434;
  box-shadow: 0 0 1em #494949;
}
.profile_left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
}
.sns_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sns_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.sns_link li {
  list-style-type: none;
}

.contents_group {
  width: 100%;
  margin: 10px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  border-radius: 10px;
  background-color: #343434;
  box-shadow: 0 0 1em #494949;
  animation-name: fadeUpAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (width < 1400px) {
  .contents_group {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.image_group {
  width: 40%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_image {
  width: 100%;
  margin: 0px;
  user-select: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_image img {
  border-radius: 10px;
}

.contents {
  width: 60%;
  height: 100%;
  padding: 10px 40px 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.title {
  height: 100%;
  font-size: 35px;
  font-weight: 600;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}
.title_icon {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.title_icon a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title_icon img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin: 0 10px 0 10px;
}

.description {
  display: flex;
  flex-direction: row;
}
.description .node {
  width: 100px;
}
.description ul {
  width: 100%;
  list-style-type: none;
  padding: 10px;
  margin: 0px;
}
.description li {
  margin: 0 0 20px 0;
  padding: 5px 0 5px 15px;
  border-inline-start: 4px solid #d2e1df;
}
.description .subtitle {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 5px;
}
.description .text {
  font-size: 15px;
  text-align: left;
  padding: 5px;
}
